.profile-side {
  background: #20202a;
  width: 290px;
  min-width: 290px;
  height: calc(100vh - 20px);
  position: relative;
  z-index: 999;
  -webkit-box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
  -webkit-transition: 0.55s ease-in-out;
  transition: 0.55s ease-in-out;
  position: fixed;
  color: white;
  border-inline-end-color: #2f2f3e;
  border-inline-end-style: solid;
  border-inline-end-width: 1px;

  @media screen and (max-width: 300px) {
    width: 100%;
    min-width: 100%;
  }
  &.hidden {
    transform: translate(-272px, 0px);
    // left: -266px;
    z-index: 1;
    transition: 0.55s ease-in-out;

    @media screen and (max-width: 300px) {
      transform: translate(-87vw, 0px);
    }
  }
  .hide-btn {
    position: absolute;
    right: -6.5px;
    cursor: pointer;
    bottom: -10px;
    color: #b0b3b8;
    &:hover {
      color: white;
    }
    @media screen and (max-width: 992px) {
      bottom: -186px;
      font-size: 22px;
    }
  }

  .intro {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 200px;
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98) 0%,
      rgba(35, 35, 45, 0.98) 100%
    );
    text-align: center;
    -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    margin: auto;
    padding-top: 30px;
    img {
      position: relative;
      width: 100px;
      border-radius: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      outline: inherit;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      z-index: 0;
      margin: auto;
    }
    .name {
      font-weight: 500;
      margin-top: 16px;
      font-size: 1.1rem;
    }
    .headline {
      text-transform: uppercase;
      font-size: 0.7rem;
      margin-top: 8px;
      font-weight: 300;
      opacity: 0.8;
    }
  }

  .details {
    padding: 230px 0 0px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    height: calc(100vh - 300px);
    width: 100%;
    margin: auto;
    .details-content {
      padding: 20px 0px;
      font-size: 0.8rem;
      width: 98%;
      margin: auto;
      text-align: justify;
    }
  }
  .social {
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    height: 50px;
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98) 0%,
      rgba(35, 35, 45, 0.98) 100%
    );
    position: absolute;
    bottom: 0;
    -webkit-box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    box-shadow: 0 1px 4px 0 rgb(15 15 20 / 10%);
    left: 0;
    width: 100%;
    z-index: 999;
    justify-content: center;
    a {
      color: #5a5d69;
      padding: 0px 6px;
      transition: all 0.2s;
      &:hover {
        color: white;
        transform: scale(1.2);
      }
    }
  }

  .profile-block {
    width: 100%;
    height: 65px;
    background: linear-gradient(
      159deg,
      rgba(37, 37, 50, 0.98),
      rgba(35, 35, 45, 0.98)
    );
    display: flex;
    color: white;
    align-items: center;
    box-shadow: 0 3px 8px 0 rgb(15 15 20 / 20%);
    justify-content: space-between;
  }

  .location-block {
    .icon {
      position: absolute;
      font-size: 28px;
      color: #b3b3b3;
      z-index: 1;
      margin-left: 12px;
    }
    .text {
      z-index: 2;
      padding-left: 58px;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 0.7rem;
      vertical-align: top;
      .bold {
        font-weight: 500;
      }
    }
    .grad-image {
      width: 35%;
      height: 100%;
      background-image: linear-gradient(
          to left,
          rgba(36, 36, 47, 0.6),
          rgba(36, 36, 47, 1)
        ),
        url('../images/minar-e-pakistan.jpeg');
      background-size: contain;
    }
  }

  .contact-block {
    justify-content: space-evenly;
    .sec {
      width: 30%;
      height: 80%;
      background: #272733;
      text-align: center;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: all 0.2s ease-in-out;

      .icon {
        font-size: 20px;
        color: #b3b3b3;
        margin-top: 10px;
      }
      .contact-details {
        opacity: 0.2;
        transition: opacity, margin 0.1s;
        text-transform: uppercase;
        font-size: 0.31rem;
        margin: 10px 0px;
      }
      &:hover {
        background: #272739;
        .icon {
          display: none;
          font-size: 30px;
          color: white;
        }
        .contact-details {
          display: block;
          opacity: 1;
          margin: 0px;
        }
      }
    }
  }
}
